html,
body {
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#renderCanvas {
    width: 100%;
    height: 100%;
    touch-action: none;
    display: block;
}

/* HUD contador esquina inferior izquierda*/
#hudCounter {
    position: fixed;
    top: 12px;
    left: 12px;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    padding: 8px 12px;
    border-radius: 6px;
    z-index: 9999;
    font-weight: bold;
    font-size: 2.8rem;
}

/* HUD instrucciones esquina superior derecha */
#hudInstructions {
    position: fixed;
    top: 12px;
    right: 12px;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 15px 20px;
    border-radius: 8px;
    z-index: 10000;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

.instruction-item {
    margin: 6px 0;
    color: white;
}